{% import "codeeditor/codeEditor" as codeEditor %}

<div id="subject-field" class="field" data-attribute="subject" style="margin-top: 1rem !important;">
    <div class="heading">
        <label id="subject-label" for="subject">Email Subject</label>
    </div>
    <div class="input ltr">
        {% include "_includes/forms/text" with {
            id: 'subject',
            name: "#{name}[subject]",
            value: subject
        } only %}
        
    </div>
</div>
<div id="system-message-field" class="field" data-attribute="system-message">
    <div class="heading">
        <label id="system-message-label" for="system-message">System Message</label>
    </div>
    <div class="input ltr">
        {% include "_includes/forms/select" with {
            id: 'system-message',
            name: "#{name}[messageKey]",
            options: options,
            value: messageKey,
        } only %}
    </div>
</div>
{% if craft.app.getPlugins().isPluginEnabled('commerce') %}
    <div id="test-order-field" class="field" data-attribute="test-order">
        <div class="heading">
            <label id="test-order-label" for="test-order">Test Order</label>
        </div>
        <div class="input ltr">
            {% include "_includes/forms/elementSelect" with {
                id: 'test-order-id',
                name: "#{name}[testOrderId]",
                elementType: className(create('craft\\commerce\\elements\\Order')),
                elements: testOrder ? [testOrder] : null,
                limit: 1
            } only %}
        </div>
    </div>
{% endif %}

{% if craft.app.user.checkPermission('setTestVariables') %}
    {{ codeEditor.textareaField({
        label: "Additional Test Variables (JSON)"|t,
        instructions: "Enter any text variables below, twig can be used"|t,
        id: 'testVariables',
        name: "#{name}[testVariables]",
            value: testVariables              
    }, "CodeEditor", { "language": "twig"},) }}
{% endif %}