{# {% extends '_layouts/cp' %} #}

{% set title = 'Email Content Editor' %}
{% import "_includes/forms" as forms %}

<div class="heading" style="margin-top: 2rem;">
    <label id="title-label" for="title">
        Create custom system messages
    </label>
</div>

{{ forms.editableTable({
    'instructions': 'Set Custom Emails.'|t('email-content-editor'),
    'id': 'customSystemMessages',
    'name': 'customSystemMessages',
    'staticRows':false,
    'allowAdd': true,
    'allowDelete': true,
    'allowReorder': true,
    'addRowLabel': 'Add Custom Email'|t('email-content-editor'),
    'cols': {
        'key': {
            'heading': 'Key'|t('email-content-editor'),
            'type': 'singleline'
        },
        'heading': {
            'heading': 'Default Heading'|t('email-content-editor'),
            'type': 'singleline'
        },
        'subject': {
            'heading': 'Default Subject'|t('email-content-editor'),
            'type': 'singleline',
        },
        'body': {
            'heading': 'Default Body'|t('email-content-editor'),
            'type': 'multiline',
        }
    }, 
    'rows': settings.customSystemMessages
}) }}
